.footer {
    padding: 40px 0px;
    background-color: #303037;
    &_inner {
        max-width: 1300px;
        padding: 0px 30px;
        box-sizing: border-box;
        margin: 0px auto;

        ul {
            display: flex;
            margin-bottom: 50px;
            li {
                margin-right: 30px;
                a {
                    font-size: 14px;
                    color: #ddd;
                }
            }
        }
        > p{
            font-size: 14px;
            color: #bbb;
            line-height: 1.8;
        }
    }
}