/* header */
.header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
	height: 135px;
	box-sizing: border-box;
	z-index: 9;
	align-items: end;
	border-bottom: 1px solid #ddd;
	.h_wrap {
		width: 100%;
		max-width: 1300px;
		box-sizing: border-box;
		margin: 0px auto;
		padding: 0px 30px;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.h_top_nav {
		width: 100%;
		display: flex;
		justify-content: right;
		margin-bottom: 15px;
		ul {
			display: flex;
			li {
				margin-right: 20px;
				&:last-child{
					margin-right: 0;
				}
				a {
					font-size: 12px;
					color: #888;
				}
			}
		}
	}

	.h_logo {
		margin-bottom: 20px;
		h1 a {
			font-size: 38px;
			color: #222;
			font-family: "Roboto", sans-serif;
			font-style: italic;
		}
	}
	.h_nav {
		ul {
			display: flex;

			li {
				margin-right: 10px;
				&:last-child {
					margin-right: 0;
				}
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 40px;
					height: 40px;
					border-radius: 50px;
					background-color: #eee;
					color: #222;
					&:hover {
						background-color: #222;
						color: #fff;
					}
					i {
						font-size: 16px;
						color: inherit
					}
				}
			}
		}
	}
	.h_menu {
		width: 100%;
		box-sizing: border-box;

		> ul {
			display: flex;
			.hm_category {
				display: flex;
				position: relative;
				align-items: center;
				&.on {
					.h_category-list {
						display: flex;
					}
				}
				.hm_bar {
					width: 34px;
					height: 34px;
					display: flex;
					align-items: center;
					justify-content: center;
					background-color: #222;
					cursor: pointer;
					i {
						color: #fff;
						font-size: 16px;
					}
				}
				.hm_category-p {
					font-size: 16px;
					font-weight: bold;
					letter-spacing: 0;
					cursor: pointer;
					padding-left: 10px;
				}

				.h_category-list {
					display: none;
					position: absolute;
					top: 34px;
					left: 0;
					background-color: #fff;
					width: 200px;
					box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
					ul {
						width: 100%;
						box-sizing: border-box;
						li {
							a {
								width: 100%;
								box-sizing: border-box;
								display: inline-block;
								padding: 12px 10px;
								font-size: 16px;
								color: #222;
								font-family: "NanumSquareNeoBold";
								font-weight: 500;
								border-bottom: 1px solid #eee;
							}
						}
					}
				}
			}
		}
	}
}

