.main {
	width: 100%;
	height: 100vh;
	box-sizing: border-box;
	background-image: url(../img/desktop-00.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	justify-content: start;
	align-items: center;
	padding-left: 5%;
	perspective: 700px;
	position: relative;
}

.todolist {
	width: 60%;
	height: 75vh;
	box-sizing: border-box;
	border-radius: 40px;
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transform: rotateY(1deg);
	transform-origin: left;
	display: flex;
	flex-direction: column;
	&__top {
		padding: 20px 30px;
		box-sizing: border-box;
		background-color: #f7d260;
		display: flex;
		justify-content: space-between;
		h1 {
			font-family: "yg-jalnan";
			color: rgba(255, 255, 255, 0.8);
			font-size: 56px;
			line-height: 1;
			text-shadow: -3px 3px 5px rgba(0, 0, 0, 0.2);
		}
		button {
			padding: 10px 20px;
			border-radius: 10px;
			background-color: #b7f059;
			box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.15);
			display: flex;
			align-items: center;
			font-size: 26px;
			line-height: 1;
			i {
				font-size: 30px;
				text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
				margin-right: 10px;
			}
			font-family: "yg-jalnan";
			color: rgba(0, 0, 0, 0.4);
			text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
			transition: all 0.3s;
			&:hover {
				box-shadow: -3px 3px 5px rgba(0, 0, 0, 0.3);
				color: rgba(0, 0, 0, 0.6);
			}
		}
	}
	&__mid {
		box-sizing: border-box;
		padding: 20px 30px 20px 30px;
		&-inner {
			background-color: rgba(255, 255, 255, 0.5);
			box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.1),
				4px -4px 5px rgba(255, 255, 255, 0.15);
			box-sizing: border-box;
			padding: 10px 20px;
			border-radius: 20px;
			display: flex;
			justify-content: space-between;
			i {
				color: #e8a124;
				font-size: 30px;
				margin-right: 20px;
				text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
			}
		}

		&-day,
		&-weather {
			display: flex;
			align-items: center;
			width: 50%;
			box-sizing: border-box;
			p {
				font-size: 24px;
				line-height: 1;
				color: rgba(0, 0, 0, 0.7);
				span {
					display: block;
					&:first-child {
						font-size: 18px;
						margin-bottom: 10px;
						color: rgba(0, 0, 0, 0.55);
					}
				}
			}
		}
	}
	&__btm {
		box-sizing: border-box;
		padding: 0px 30px 30px 30px;
		flex: 1;
		overflow-y: auto;

		&-inner {
			height: 100%;
			background-color: rgba(0, 0, 0, 0.05);
			box-sizing: border-box;
			padding: 20px 20px;
			border-radius: 20px;
			justify-content: space-between;
			overflow-y: auto;
			ul {
				display: flex;
				flex-wrap: wrap;
				li {
					&.on {
						opacity: 0.5;
						.fa-square-check {
							display: block;
						}
					}
					width: 49%;
					margin-right: 2%;
					margin-bottom: 10px;
					background-color: rgba(255, 255, 255, 0.5);
					box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.1),
						4px -4px 5px rgba(255, 255, 255, 0.15);
					box-sizing: border-box;
					padding: 15px 20px;
					border-radius: 20px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					cursor: pointer;
					.fa-square-check {
						color: #92b063;
						font-size: 26px;
						margin-right: 10px;
						line-height: 1;
						display: none;
					}
					p {
						line-height: 1.5;
						flex: 1;
						font-size: 19px;
						color: rgba(0, 0, 0, 0.7);
					}
					button {
						background: none;
						line-height: 1;
						color: #ed8052;
						transition: all 0.3s;
						i {
							font-size: 38px;
						}
						&:hover {
							color: #f53c2f;
						}
					}

					&:nth-of-type(2n) {
						margin-right: 0;
					}
				}
			}
		}
	}
}

.icon {
	position: absolute;
	max-height: 100%;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
	li {
		font-size: 0;
		margin-bottom: 10px;
		margin-left: 5px;
		button {
			&:hover {
				transform: translateX(-5px);
			}
			transition: all 0.3s;
			width: 80px;
			height: 80px;
			box-sizing: border-box;
			overflow: hidden;
			border-radius: 50px;
			border: 5px solid #fff;
			img {
				object-fit: cover;
				width: 100%;
				height: 100%;
			}
		}
	}
}

.bell {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	z-index: 8;
	
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		backdrop-filter: blur(8px);
		background-color: rgba(0, 0, 0, 0.3);
		z-index: -1;
	}
	&__popup {
		width: 90%;
		max-width: 600px;
		box-sizing: border-box;
		border-radius: 40px;
		background-color: #fce1a0;
		box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.1);

		&-top {
			border-radius: 40px;
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			background-color: #fdd25e;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 40px;
			img {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 20px;
				width: 160px;
				filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.2));
			}
			
		
		}
		&-mid {
			box-sizing: border-box;
			padding: 25px 30px;
			display: flex;
			flex-wrap: wrap;
			p {
				width: 100%;
				font-size: 20px;
				color: #a87b44;
				line-height: 1.8;
				text-align: center;
				margin-bottom: 20px;
			}
			

			button {
				width: 100%;
				box-sizing: border-box;
				color: #cc6e3f;
				padding: 20px;
				border-radius: 20px;
				background-color: #fae579;
				box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.1),
					4px -4px 5px rgba(255, 255, 255, 0.15);
				font-size: 26px;
				line-height: 1;
			}
		}
	}
}

.list-add {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	z-index: -1;
	&.on {
		display: flex;
		z-index: 9;
		.list-add__popup {
			opacity: 1;
			transform: translateY(0);
		}
	}
	&__bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		backdrop-filter: blur(8px);
		background-color: rgba(0, 0, 0, 0.3);
	}
	&__popup {
		transition:all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
		opacity: 0;
		transform: translateY(50%);
		width: 90%;
		max-width: 700px;
		box-sizing: border-box;
		border-radius: 40px;
		background-color: #fce1a0;
		overflow: hidden;
		box-shadow: -8px 8px 10px rgba(0, 0, 0, 0.1);

		&-top {
			background-color: #fdd25e;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 30px;
			p {
				line-height: 1;
				font-size: 26px;
				color: #cc6e3f;
			}
			button {
				line-height: 1;
				font-size: 34px;
				color: rgba(0, 0, 0, 0.3);
				position: absolute;
				top: 50%;
				right: 30px;
				transform: translateY(-50%);
			}
		}
		&-mid {
			box-sizing: border-box;
			padding: 25px 30px;
			display: flex;
			input {
				width: 70%;
				box-sizing: border-box;
				border: none;
				margin-right: 2%;
				padding: 20px;
				font-size: 20px;
				box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.1),
					4px -4px 5px rgba(255, 255, 255, 0.15);
				border-radius: 20px;
				background-color: #fdefd1;
				color: rgba(0, 0, 0, 0.8);
			}

			button {
				width: 28%;
				box-sizing: border-box;
				color: #cc6e3f;
				padding: 20px;
				border-radius: 20px;
				background-color: #fae579;
				box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.1),
					4px -4px 5px rgba(255, 255, 255, 0.15);
				font-size: 26px;
				line-height: 1;
			}
		}
	}
}

.weather-icon {
	width: 85px;
	filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.2));
}
